:root {
    /* --bg-clr: #6C5151;
    --text-clr: #673030;
    --object-clr: #684040;
    --bubble-clr1: #A3793C;
    --bubble-clr2: #A4754A;
    --bubble-clr3: #C4C4C4;  */
    
    /* --bg-clr: #373737;
    --text-clr: #777777;
    --object-clr: #684040;
    --bubble-clr1: #B1A4A5;
    --bubble-clr2: #A4754A;
    --bubble-clr3: #C4C4C4;  */

    --bg-clr: #373737;
    --text-clr: #E7CEE3;
    --object-clr: #B1A4A5;
    --bubble-clr1: #777777;
    --bubble-clr2: #FFE2D5;
    --bubble-clr3: #FFDDB7; 
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Saira Condensed', sans-serif;
}

body {
    margin: 0; 
    background: var(--bg-clr);
}

h1, h2 {
    letter-spacing: 3px;
    color: var(--text-clr);
    font-size: 2rem;
}

.projectArea, .aboutArea, .skillsArea, .contactArea {
    opacity: 0;
    /* transition: opacity 3s; */
    transition: opacity 2s ease-in-out;
}

/* #region Header */
header {
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 5rem;
    margin: 0;
    letter-spacing: 10px;
    padding-top: 10rem;
}

hr.line {
    border: 2px solid var(--clr-red);
    width: 20%;
    margin: auto;
    background: linear-gradient(to right, transparent, #673030, transparent);
    /* margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0; */
}

.myTitle {
    font-size: 1.2rem;
    margin: 0;
    line-height: 0;
    letter-spacing: 10px;
}

/* #endregion */

footer > a{
    padding: 1rem;
    color: var(--clr-red);
}
footer > a:hover {
    color: var(--clr-whiteish);
}
.material-icons {
    font-size: 2rem;
}

/* REUSABLE CLASSES  */
.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.flexEnd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}