/* Ellipse 5 */
.circle1 {
    position: absolute;
    height: 287px;
    width: 267px;
    left: 50%;
    top: 50%;
    border-radius:  100rem; 
    transform: translate(-50%, -50%); 
    background: #A3793C;
}

/* Ellipse 10 */
.circle2 {

    position: absolute;
    height: 365px;
    width: 360px;
    left: 50%;
    top: 80%;
    border-radius:  100rem; 
    transform: translate(-50%, -50%);        
    background: #C4C4C4;
    
    
}

/* Ellipse 9 */
.circle3 {

    position: absolute;
    height: 370px;
    width: 375px;
    left: 30%;
    top: 50%;
    border-radius: 100rem; 
    transform: translate(-50%, -50%);    
    background: #673030;
}

/* Ellipse 6 */
.circle4 {
    position: absolute;
    height: 300px;
    width: 301px;
    left: 50%;
    top: 50%;
    border-radius: 100rem; 
    transform: translate(-50%, -50%) ;   
    background: #6C5151;
}

/* Ellipse 7 */
.circle5 {
    position: absolute;
    height: 323px;
    width: 301px;
    left: 50%;
    top: 50%;
    border-radius: 100rem; 
    transform: translate(-50%, -50%) ;   
    background: #684040;

}

/* Ellipse 8 */
.circle6 {

    position: absolute;
    height: 357px;
    width: 344px;
    left: 50%;
    top: 50%;
    border-radius: 100rem; 
    transform: translate(-50%, -50%);  
    background: #A4754A;
}