@media (max-width: 950px) {

    h1 {
        font-size: 3rem;
        padding: 1rem;
        padding-top: 6rem;
        text-align: center;
    }
    
    .myTitle {
        letter-spacing: 4px;
    }

    .line {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
        /* margin-bottom: 0; */
    }

    /* Nav circle  */
    /* w h 3 rem  */
    /* .circular-menu.active .menu-item:nth-child(1) {
        transform: translate3d(-7.3rem, 0rem, 0)
    }

    .circular-menu.active .menu-item:nth-child(2) {
        transform: translate3d(-6.9rem, 2.5rem, 0);
    }
      
    .circular-menu.active .menu-item:nth-child(3) {
        transform: translate3d(-5.5rem, 5rem, 0);
    }
      
    .circular-menu.active .menu-item:nth-child(4) {
        transform: translate3d(-3.1rem, 6.7rem, 0);
    } */

}

